@import "../fonts/DMSans/stylesheet.css";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #F8F9FA;
  font-family: "DM Sans";
}

body.wrap {
  max-height: 100vh;
  overflow: hidden;
}

a {
  color: white;
  text-decoration: none;
}

input, button, select, span, textarea {
  border: none;
  outline: none;
  background: transparent;
  font-family: DM Sans;
}

button {
  cursor: pointer;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

li {
  list-style-type: none;
}

.slick-slider {
  overflow: hidden;
}

@media only screen and (max-width: 769px) {
  .paddingContainer {
    padding-left: 32px !important;
    padding-right: 32px !important;
  }
}
@media only screen and (max-width: 415px) {
  .paddingContainer {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
}

.block {
  margin-top: 30px;
}

.block .header {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block .header .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block .header .controls span {
  font-weight: 500;
  font-size: 12px;
  color: #3669C9;
}

.circledIcon {
  width: 48px;
  height: 48px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contentWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contentWrapper .contentContainer {
  margin-top: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: calc(100vh - 100px);
  min-width: 0;
}
@media only screen and (max-width: 769px) {
  .contentWrapper .contentContainer {
    min-height: calc(100vh - 70px);
  }
}
@media only screen and (max-width: 415px) {
  .contentWrapper .contentContainer {
    margin-top: 0;
  }
}

.contentWrapper .contentContainer .mainWrapper {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.star svg {
  stroke: #C4C5C4;
}

.star.active svg {
  fill: #FFC120;
  stroke: #FFC120;
}

.customButton {
  width: 100%;
  padding: 15px 0;
  background: #3669C9;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  font-size: 14px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.customButton:hover {
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.customButton:disabled {
  color: white;
  background: #C4C5C4;
}

.customButton.white {
  color: black;
  background: white;
  border: 1px solid black;
}

.container {
  max-width: 1420px;
  padding: 0 20px;
  margin: auto;
}
@media only screen and (max-width: 769px) {
  .container {
    padding: 0;
  }
}

.contentContainer {
  margin-left: 32px;
}
@media only screen and (max-width: 769px) {
  .contentContainer {
    margin-left: 0;
  }
}

.specialistCard {
  width: calc(100% / 6 - 15px);
  min-height: 258px;
  padding: 15px 19px;
  background: white;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin-left: 15px;
}
@media only screen and (max-width: 769px) {
  .specialistCard {
    width: calc(100% / 4 - 15px);
  }
}
@media only screen and (max-width: 415px) {
  .specialistCard {
    width: calc(100% / 2 - 15px);
  }
}

.specialistCard .buttons button {
  margin-left: 10px;
  background: #3669C9;
}
.specialistCard .buttons button:hover {
  -webkit-box-shadow: 0px 0px 8px rgba(54, 105, 201, 0.5);
          box-shadow: 0px 0px 8px rgba(54, 105, 201, 0.5);
}

.specialistCard.green .buttons button {
  background: #3A9B7A;
}
.specialistCard.green .buttons button:hover {
  -webkit-box-shadow: 0px 0px 8px rgba(58, 155, 122, 0.5);
          box-shadow: 0px 0px 8px rgba(58, 155, 122, 0.5);
}

.specialistCard .buttons button.circledIcon {
  width: 40px;
  height: 40px;
  border-radius: 12px !important;
}

.specialistCard .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

.specialistCard .header .discount {
  padding: 2px 5px;
  background: #FE3A30;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  font-size: 10px;
}

.specialistCard .header .specialization {
  font-weight: 500;
  font-size: 10px;
  color: #3669C9;
  background: #EFF5FB;
  border-radius: 10px;
  padding: 2px 5px;
  text-transform: uppercase;
  margin-left: 5px;
}

.specialistCard .header .like {
  width: 16px;
  height: 16px;
}

.specialistCard .header .like svg {
  fill: white;
  stroke: black;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.specialistCard .header .like svg:hover {
  fill: #FE3A30;
  stroke: none;
}

.specialistCard .picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.imageWrapper {
  position: relative;
  width: 74px;
  height: 74px;
}

.imageWrapper .profile {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.imageWrapper .country {
  position: absolute;
  bottom: 0;
  right: 0;
}

.specialistCard .name {
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #0C1A30;
  margin-top: 20px;
}

.specialistCard .time {
  font-weight: 500;
  font-size: 10px;
  text-align: center;
  color: #3669C9;
  margin-top: 5px;
}

.specialistCard.green .time {
  color: #3A9B7A;
}

.specialistCard .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  margin-left: -10px;
}

.specialistCard .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.specialistCard .rating .stars, .specialistCard .rating .calls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.specialistCard .rating .stars img, .specialistCard .rating .calls img {
  width: 8px;
  height: 8px;
}

.specialistCard .rating .calls {
  margin-left: 10px;
}

.specialistCard .rating span {
  font-weight: normal;
  font-size: 10px;
  color: #0C1A30;
  margin-left: 4px;
}

.blur {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(54, 105, 201, 0.15);
  opacity: 0;
  z-index: -1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.viewWrapper > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.dropdownMenu .hiddenContent {
  height: 0;
  position: relative;
  overflow: hidden;
  margin-top: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.dropdownMenu .hiddenContent .menuWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
}
@media only screen and (max-width: 769px) {
  .dropdownMenu .hiddenContent .menuWrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 12px;
  }
}

.dropdownMenu .hiddenContent ul {
  margin-top: -20px;
}

.dropdownMenu .hiddenContent ul li {
  font-weight: normal;
  font-size: 12px;
  color: #0C1A30;
  margin-top: 20px;
  padding: 0;
}

.dropdownMenu.active .hiddenContent {
  height: auto;
  margin-top: 15px;
}

.dropdownMenu.active {
  background: white;
}

.dropdownMenu.active .icon svg {
  fill: white !important;
}

.dropdownMenu.active .icon {
  background: #3669C9;
}

.dropdownMenu.active .title {
  color: #2D3748;
}

.dropdownMenu.active .content .arrow {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.modal {
  position: fixed;
  background: white;
  border-radius: 10px;
  z-index: 1000;
  display: none;
  padding: 25px;
}

.modal.visible {
  display: block;
}
.modal.visible + .viewWrapper {
  overflow: hidden;
}
.modal.visible + .viewWrapper .blur {
  opacity: 1;
  z-index: 200;
}

.cookieModal {
  padding: 0;
  right: 30px;
  bottom: 30px;
  width: 632px;
}
@media only screen and (max-width: 769px) {
  .cookieModal {
    width: 90%;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.cookieModal .header {
  border-bottom: 1px solid #EDEDED;
}

.cookieModal .header .headerWrapper {
  padding: 25px 30px 20px 25px;
}

.cookieModal .header h5 {
  font-weight: bold;
  font-size: 15px;
  color: #0C1A30;
}

.cookieModal .sections {
  padding: 38px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -30px;
}
@media only screen and (max-width: 415px) {
  .cookieModal .sections {
    width: 100%;
    margin-left: 0;
    margin-top: -35px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.cookieModal .sections .buttons {
  display: none;
  margin-top: 30px;
  margin-left: -15px;
}
.cookieModal .sections .buttons .customButton {
  width: calc(100% / 2 - 15px);
  border-radius: 10px;
  text-align: center;
  margin-left: 15px;
}
@media only screen and (max-width: 415px) {
  .cookieModal .sections .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.cookieModal .sections section {
  width: calc(100% / 2 - 30px);
  margin-left: 30px;
}
@media only screen and (max-width: 415px) {
  .cookieModal .sections section {
    margin-left: 0;
    width: 100%;
    margin-top: 35px;
  }
}

.viewWrapper.blured {
  overflow: hidden;
}

.viewWrapper.blured .blur {
  opacity: 1;
  z-index: 200;
}

.cookieModal .sections section h6 {
  font-weight: 500;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.85);
}

.cookieModal .sections section p {
  font-weight: normal;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.85);
  margin-top: 10px;
}

.cookieModal .sections section .customButton {
  margin-top: 30px;
}
@media only screen and (max-width: 415px) {
  .cookieModal .sections section .customButton {
    display: none;
  }
}

.cookieModal .sections section:nth-of-type(1) .customButton {
  background: white;
  color: black;
  border: 1px solid black;
}

@media only screen and (max-width: 415px) {
  .questions {
    padding: 0 25px;
  }
}

.questions .question .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 415px) {
  .questions .question .content {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.questions .question .content .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 415px) {
  .questions .question .content .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.questionsWrapper {
  padding: 5px 25px 25px 25px;
  border-radius: 15px;
  background: white;
}

.questions .question {
  padding-bottom: 20px;
  cursor: pointer;
  margin-top: 20px;
  border-bottom: 1px solid #EDEDED;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.questions .question:hover {
  border-bottom: 1px solid black;
}

.questions .question button {
  padding: 9px;
  background: #F3F5F6;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.questions .question button svg {
  fill: #06070C;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.questions .dropdownMenu.active button {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #000;
}

.questions .dropdownMenu.active svg {
  fill: white !important;
}

.questions .question .hiddenContent .menuWrapper {
  padding: 0 42px;
  margin-left: 0;
}
.questions .question .hiddenContent .menuWrapper p {
  font-size: 12px;
}
@media only screen and (max-width: 415px) {
  .questions .question .hiddenContent .menuWrapper {
    padding: 0;
  }
}

.questions .question .content .text {
  font-weight: 500;
  font-size: 14px;
  margin-left: 16px;
}
@media only screen and (max-width: 415px) {
  .questions .question .content .text {
    margin-left: 0;
    margin-top: 20px;
  }
}

.questions .question .content .info .number {
  font-weight: bold;
  font-size: 24px;
  color: rgba(60, 60, 67, 0.5);
}

.questions .customButton {
  margin-top: 40px;
}

.filters {
  display: none;
  margin-top: 30px;
}
@media only screen and (max-width: 769px) {
  .filters {
    display: block;
  }
}

.filterModal {
  max-width: 325px;
  width: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media only screen and (max-width: 769px) {
  .filterModal {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
@media only screen and (max-width: 415px) {
  .filterModal {
    bottom: 35px;
    top: auto;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

.filterModal .block {
  margin-top: 0;
}

.filterModal .block .controls {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 13px;
  height: 13px;
}

.filterModal .filterTypeSelect {
  margin-left: -20px;
  padding-bottom: 13px;
  border-bottom: 1px solid #EDEDED;
  position: relative;
}

.filterModal .filterTypeSelect span {
  font-weight: normal;
  font-size: 14px;
  color: #0C1A30;
  margin-left: 20px;
}

.filterModal .filterTypeSelect .selectSlider {
  content: "";
  position: absolute;
  bottom: 0;
  width: 39px;
  height: 2px;
  background: #3669C9;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.filterModal .filterOptions {
  margin-top: 30px;
}

.filterModal .filterOptions input {
  display: none;
}

.filterModal .filterOptions > .option {
  width: 100%;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #EDEDED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filterModal .filterOptions > .option:last-child {
  border-bottom: 0;
}

.filterModal .filterOptions > .option p {
  font-weight: 500;
  font-size: 14px;
  color: #0C1A30;
}

.filterModal .filterOptions > .option .indicator {
  width: 20px;
  height: 20px;
  background: #3A9B7A;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.filterModal .filterOptions input:checked + .option {
  color: red !important;
}
.filterModal .filterOptions input:checked + .option .indicator {
  opacity: 1;
}

.filterModal .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -15px;
  margin-top: 10px;
}

.filterModal .buttons button {
  width: calc(100% / 2 - 15px);
  margin-left: 15px;
}

.specialistsSlider .cards {
  margin-left: -15px;
}

.specialistsSlider .slick-list {
  overflow: hidden;
}

.specialistsSlider .slick-arrow {
  display: block;
  position: static;
  margin: 0;
  padding: 0;
  top: 0;
  font-size: 0;
  left: 0;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
@media only screen and (max-width: 415px) {
  .specialistsSlider .slick-arrow {
    display: none;
  }
}

.specialistsSlider .slick-prev {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.specialistsSlider .slick-next {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.specialistsSlider .slick-prev:before {
  content: "";
  display: block;
  width: 6px;
  height: 12px;
  background: url("../assets/icons/SliderPrev.svg") center/contain no-repeat;
  margin-left: 15px;
}

.specialistsSlider .slick-next:before {
  content: "";
  display: block;
  width: 6px;
  height: 12px;
  background: url("../assets/icons/SliderNext.svg") center/contain no-repeat;
  margin-left: 15px;
}

.commentModal {
  padding: 60px 50px 55px 50px;
  max-width: 425px;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media only screen and (max-width: 415px) {
  .commentModal {
    width: 100%;
    height: 100vh;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .commentModal.visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.commentModal .controls {
  position: absolute;
  cursor: pointer;
  right: 25px;
  top: 25px;
}
.commentModal .controls img {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
@media only screen and (max-width: 415px) {
  .commentModal .controls {
    left: 25px;
  }
}
.commentModal h5 {
  font-weight: 700;
  font-size: 25px;
  color: #0C1A30;
  margin-bottom: 35px;
}
.commentModal .customButton {
  margin-top: 20px;
}

.inputWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}
.inputWrapper span {
  font-weight: 400;
  font-size: 14px;
  color: #0C1A30;
  margin-bottom: 20px;
}
.inputWrapper input, .inputWrapper textarea {
  background: #FAFAFA;
  padding: 16px 20px;
  border-radius: 12px;
}
.inputWrapper input::-webkit-input-placeholder, .inputWrapper textarea::-webkit-input-placeholder {
  color: #C4C5C4;
}
.inputWrapper input::-moz-placeholder, .inputWrapper textarea::-moz-placeholder {
  color: #C4C5C4;
}
.inputWrapper input:-ms-input-placeholder, .inputWrapper textarea:-ms-input-placeholder {
  color: #C4C5C4;
}
.inputWrapper input::-ms-input-placeholder, .inputWrapper textarea::-ms-input-placeholder {
  color: #C4C5C4;
}
.inputWrapper input::placeholder, .inputWrapper textarea::placeholder {
  color: #C4C5C4;
}
.inputWrapper textarea {
  resize: none;
  height: 130px;
}

.emptyWindow {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.emptyWindow p {
  text-align: center;
  margin-top: 25px;
}

.emptyWindow p:nth-of-type(1) {
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
  color: #000000;
}

.emptyWindow p:nth-of-type(2) {
  font-weight: normal;
  font-size: 14px;
  color: #838589;
  margin-top: 20px;
}

.successModal {
  max-width: 325px;
  height: auto;
  padding: 45px 25px 25px 25px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.successModal .emptyWindow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.successModal .emptyWindow .icon {
  width: 50px;
  height: 50px;
}
.successModal .emptyWindow .icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.successModal .customButton {
  margin-top: 45px;
}