@media only screen and (max-width: 415px) {
  .mainWrapper {
    background: white;
  }
}

@media only screen and (max-width: 415px) {
  .questions {
    padding: 0 !important;
  }
}

.faqWrapper {
  width: 100%;
  background: white;
  border-radius: 15px;
  padding: 28px 20px;
}
@media only screen and (max-width: 415px) {
  .faqWrapper {
    padding: 0;
    margin-top: 30px;
    padding-bottom: 40px;
  }
}
.faqWrapper .block {
  margin-top: 0;
}
.faqWrapper .inputWrapper {
  margin-top: 30px;
}
.faqWrapper .questionsWrapper {
  padding: 0;
  margin-top: 35px;
}
.faqWrapper .questionsWrapper .question:last-child {
  padding-bottom: 0;
  border: 0;
}

.faqSubtitle {
  font-weight: 400;
  font-size: 14px;
  display: none;
  letter-spacing: 0.2px;
  color: #0C1A30;
}

@media screen and (max-width: 415px) {
  .faqSubtitle {
    display: block;
  }
}