footer {
  padding: 28px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer p {
  font-weight: normal;
  font-size: 14px;
  color: #A0AEC0;
  max-width: 60%;
}



footer .links {
  margin-left: -40px;
}


footer a {
  font-weight: normal;
  font-size: 13px;
  color: #3669C9;
  margin-left: 40px;
}

@media only screen and (max-width: 769px) {
    footer p {
        max-width: 100%;
        width: 100%;
    }

    .links {
        margin-top: 10px;
    }
}
@media only screen and (max-width: 500px) {
    .links {
        flex-wrap: wrap;
        margin-top: 0;
        display: flex;
    }

    .links a {
        display: block;
        margin-top: 10px;
    }
}

footer a:hover {
  text-decoration: underline;
}