@media screen and (max-width: 768px) {
    .categories .cards {
        margin-left: -30px;
    }
    .categories .cards .card {
        width: calc(100% / 4 - 30px);
        margin-left: 30px;
    }
    .categories .cards .card .info {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .categories .cards .card .info h5 {
        margin-left: 0;
        margin-top: 10px;
    }

    .categories .cards .card img {
        display: none;
    }

}