.contentContainer .ads {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 415px) {
  .contentContainer .ads {
    padding: 20px 25px 0 25px;
    background: white;
  }
}

.contentContainer .ads .ad {
  height: 200px;
  padding: 12px;
  background: white;
  -webkit-box-shadow: 0px 2.40964px 3.78658px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 2.40964px 3.78658px rgba(0, 0, 0, 0.02);
  border-radius: 10px;
}

.contentContainer .ads .ad .content {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  color: white;
  position: relative;
}

.contentContainer .ads .ad .content .text {
  position: relative;
  z-index: 2;
}

.contentContainer .ads .ad .content .action {
  position: relative;
  z-index: 2;
}

.contentContainer .ads .ad .content .text p {
  margin-top: 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
}
@media only screen and (max-width: 415px) {
  .contentContainer .ads .ad .content .text p {
    margin-top: 7px;
  }
}

.contentContainer .ads .ad .content .text h3 {
  font-weight: bold;
  font-size: 26px;
}
@media only screen and (max-width: 415px) {
  .contentContainer .ads .ad .content .text h3 {
    font-size: 20px;
  }
}

.contentContainer .ads .ad .content .action a {
  font-weight: bold;
  font-size: 10px;
}

.contentContainer .ads .ad .content .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.contentContainer .ads .ad .content .image img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 85%;
     object-position: 85%;
}

.contentContainer .ads .ad:first-child {
  width: 55%;
}

.contentContainer .ads .ad:nth-child(2) {
  width: 42%;
}

.contentContainer .ads .ad:first-child .content {
  padding: 33px 21px;
}

.contentContainer .ads .ad:first-child .content .text {
  max-width: 70%;
}
@media only screen and (max-width: 415px) {
  .contentContainer .ads .ad:first-child .content .text {
    max-width: 55%;
  }
}

.contentContainer .ads .ad:nth-child(2) .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 26px 20px;
}

@media only screen and (max-width: 415px) {
  .categories .header {
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 415px) {
  .categories {
    background: white;
    margin-top: 0 !important;
    padding: 30px 25px 20px 25px !important;
  }
}

.categories .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -20px;
  margin-top: -20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media only screen and (max-width: 769px) {
  .categories .cards {
    margin-left: -30px;
  }
}

.categories .cards .card {
  padding: 15px 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  width: 254px;
  border-radius: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  margin-left: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-top: 20px;
}
@media only screen and (max-width: 769px) {
  .categories .cards .card {
    width: calc(100% / 4 - 30px);
    margin-left: 30px;
  }
}
@media only screen and (max-width: 415px) {
  .categories .cards .card {
    padding-top: 0;
  }
}

.categories .cards .card:hover {
  -webkit-box-shadow: 0px 0px 32px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 32px 0px rgba(34, 60, 80, 0.2);
}
@media only screen and (max-width: 415px) {
  .categories .cards .card:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.categories .cards .card .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 769px) {
  .categories .cards .card .info {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.categories .cards .card .circledIcon {
  background: #E4F3EA;
}

.categories .cards .card h5 {
  margin-left: 15px;
  font-weight: bold;
  font-size: 12px;
}
@media only screen and (max-width: 769px) {
  .categories .cards .card h5 {
    margin-left: 0;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 769px) {
  .categories .cards .card img {
    display: none;
  }
}