.table.block {
  margin-top: 0 !important;
}
.table.block #table {
  margin-top: 0;
}
.table.block .tableContainer {
  height: auto;
  overflow: auto;
}
.table.block .inputWrapper {
  margin-top: 30px;
}

.inputWrapper input {
  font-size: 14px;
}

@media screen and (max-width: 416px){
  .inputWrapper {
    padding-right: 20px;
  }
  .inputWrapper img {
    right: 35px !important;
  }
}