.tWrap {
  width: 100%;
  position: relative;
}
.tWrap .tableContainer {
  overflow: hidden;
  height: 440px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media only screen and (max-width: 769px) {
  .tWrap .tableContainer {
    overflow-x: scroll;
  }
}

.hiddenHeader {
  display: none;
}
@media only screen and (max-width: 769px) {
  .hiddenHeader {
    overflow-x: scroll;
  }
}

.hiddenHeader #hiddenTable {
  margin-top: 0;
}

.hiddenHeader.visible {
  display: block;
  position: sticky;
  top: -5px;
  left: 0;
  padding: 0;
  z-index: 200;
  width: 100%;
}

.tableContainer {
  padding: 0;
}

table {
  margin-top: 25px;
  width: 100%;
  border-collapse: collapse;
  position: relative;
  z-index: 10;
}

table thead {
  position: relative;
  border-top:1px solid #EDEDED;
  z-index: 10;
}



table thead th:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
}

table tbody tr td:first-child, thead tr th:first-child {
  position: sticky;
  z-index: 2;
  left: -2px;
}

table th, table td {
  color: #0C1A30;
  background: white;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
}

table thead th .headCell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

table thead th .headCell .icon {
  width: 5px;
  height: 3px;
  display: block;
  margin: 3px 0;
  background: url("../assets/icons/ArrowDown.svg") no-repeat center/cover;
}

table th, table td {
  padding: 10px 0;
  border-bottom: 1px solid #F0F0F0;
}

table td {
  padding: 15px 0;
}

table td .signs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -2px;
}

table td .sign {
  width: 5px;
  height: 16px;
  border-radius: 5px;
  background: #F1F1FA;
  margin-left: 2px;
}

@media only screen and (max-width: 769px) {
  table th, main table td {
    min-width: 60px;
  }

  table thead th {
    background: #FAFAFA;
  }
}

.table .title span {
  font-weight: 700;
  font-size: 12px;
  display: inline-block;
  margin-left: 10px;
  color: rgba(12, 26, 48, 0.3);
}

.table .header {
  flex-wrap: wrap;
  margin-top: -10px;
}

.table .header .title {
  margin-top: 10px;
}

.table .header .controls {
  margin-top: 10px;
}

@media only screen and (max-width: 415px) {
  .table {
    max-width: 100vw;
  }
}
.table {
  background: white;
  padding: 28px 20px;
  border-radius: 15px;
  position: relative;
}
@media only screen and (max-width: 415px) {
  .table {
    border-bottom: 1px solid #EDEDED;
    padding-right: 0;
  }
}
.table .controls .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -10px;
  margin-left: -18px;
}
.table .controls .info::-webkit-scrollbar {
  display: none;
}
@media only screen and (max-width: 415px) {
  .table .controls .info {
    margin-top: 0;
    max-width: 100vw;
    margin-left: -18px;
    padding: 0;
    flex-wrap: wrap;
  }
}
.table .controls .info .infoItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 18px !important;
  margin-top: 10px;
}
.table .controls .info .infoItem span {
  display: block;
  font-weight: 500;
  font-size: 12px;
  color: #0C1A30;
  margin-left: 10px;
  white-space: nowrap;
}
.table .controls .info .infoItem .indicator {
  width: 5px;
  height: 14px;
  border-radius: 5px;
}
@media only screen and (max-width: 415px) {
  .table .controls .info .infoItem:first-child {
    margin-left: 0;
  }
}
.table .controls .info .infoItem:nth-child(1) .indicator {
  background: #7DC579;
}
.table .controls .info .infoItem:nth-child(2) .indicator {
  background: #6360FF;
}
.table .controls .info .infoItem:nth-child(3) .indicator {
  background: #9B81E5;
}
.table .controls .info .infoItem:nth-child(4) .indicator {
  background: #F1F1FA;
}
@media only screen and (max-width: 769px) {
  .table {
    border-radius: 0;
  }
}
@media only screen and (max-width: 415px) {
  .table .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
