@import "mixins";

.specialistsSlider {
  margin-top: 0 !important;
  @include adaptive("xxsm") {
    margin-top: 30px !important;
    padding: 0 25px;
  }
}

.profilesSlider {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-top: -30px;
}

.profilesSlider .specialistCard {
  margin-top: 30px;

}

.questions {
  @include adaptive("xsm"){
    display: none;
  }
}
