@import "../fonts/DMSans/stylesheet.css";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #F8F9FA;
  font-family: "DM Sans";
}

body.wrap {
  max-height: 100vh;
  overflow: hidden;
}

a {
  color: white;
  text-decoration: none;
}

input, button, select, span, textarea{
  border: none;
  outline: none;
  background: transparent;
  font-family: DM Sans;
}

button {
  cursor: pointer;
}

select {
  -webkit-appearance: none;
  appearance: none;
}

li {
  list-style-type: none;
}

.slick-slider {
  overflow: hidden;
}

.paddingContainer {
  @include adaptive("xsm") {
    padding-left: 32px !important;
    padding-right: 32px !important;
  }
  @include adaptive("xxsm") {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
}

.block {
  margin-top: 30px;
}

.block .header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block .header .controls {
  display: flex;
  align-items: center;
}

.block .header .controls span {
  font-weight: 500;
  font-size: 12px;
  color: #3669C9;
}

.circledIcon {
  width: 48px;
  height: 48px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentWrapper {
  display: flex;
}

.contentWrapper .contentContainer {
  margin-top: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 100px);
  min-width: 0;

  @include adaptive("xsm"){
    min-height: calc(100vh - 70px);
  }

  @include adaptive("xxsm") {
    margin-top: 0;

  }
}

.contentWrapper .contentContainer .mainWrapper {
  width: 100%;
  flex: 1 1 auto;
}

.star svg {
  stroke: #C4C5C4;
}

.star.active svg {
  fill: #FFC120;
  stroke: #FFC120;
}

.customButton {
  width: 100%;
  padding: 15px 0;
  background: #3669C9;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  font-size: 14px;
  transition: .2s;
  &:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  &:disabled {
    color: white;
    background: #C4C5C4;
  }
}

.customButton.white {
  color: black;
  background: white;
  border: 1px solid black;
}

.container {
  max-width: 1420px;
  padding: 0 20px;
  margin: auto;
  @include adaptive("xsm") {
    padding: 0;
  }
}

.contentContainer {
  margin-left: 32px;
  @include adaptive("xsm") {
    margin-left: 0;
  }
}

.specialistCard {
  width: calc(100% / 6 - 15px);
  min-height: 258px;
  padding: 15px 19px;
  background: white;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin-left: 15px;
  @include adaptive("xsm") {
    width: calc(100% / 4 - 15px);
  }

  @include adaptive("xxsm") {
    width: calc(100% / 2 - 15px);
  }
}


.specialistCard .buttons button {
  margin-left: 10px;
  background: #3669C9;
  &:hover {
    box-shadow: 0px 0px 8px rgba(54, 105, 201, 0.5)
  }
}

.specialistCard.green .buttons button {
  background: #3A9B7A;
  &:hover {
    box-shadow: 0px 0px 8px rgba(58, 155, 122, 0.5);
  }
}

.specialistCard .buttons button.circledIcon {
  width: 40px;
  height: 40px;
  border-radius: 12px !important;

}

.specialistCard .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.specialistCard .header .discount {
  padding: 2px 5px;
  background: #FE3A30;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  font-size: 10px;
}

.specialistCard .header .specialization {
  font-weight: 500;
  font-size: 10px;
  color: #3669C9;
  background: #EFF5FB;
  border-radius: 10px;
  padding: 2px 5px;
  text-transform: uppercase;
  margin-left: 5px;
}

.specialistCard .header .like {
  width: 16px;
  height: 16px;
}

.specialistCard .header .like svg {
  fill: white;
  stroke: black;
  transition: .2s;
}

.specialistCard .header .like svg:hover {
  fill: #FE3A30;
  stroke: none;
}

.specialistCard .picture {
  display: flex;
  justify-content: center;
  margin-top: 10px;

}

.imageWrapper {
  position: relative;
  width: 74px;
  height: 74px;
}

.imageWrapper .profile {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}


 .imageWrapper .country {
  position: absolute;
  bottom: 0;
  right: 0;
}

.specialistCard .name {
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #0C1A30;
  margin-top: 20px;
}

.specialistCard .time {
  font-weight: 500;
  font-size: 10px;
  text-align: center;
  color: #3669C9;
  margin-top: 5px;
}

.specialistCard.green .time {
  color:#3A9B7A
}

.specialistCard .buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-left: -10px;
}


.specialistCard .rating {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.specialistCard .rating {
  .stars, .calls {
    display: flex;
    align-items: center;
    img {
      width: 8px;
      height: 8px;
    }
  }
}

.specialistCard .rating .calls {
  margin-left: 10px;
}

.specialistCard .rating span {
  font-weight: normal;
  font-size: 10px;
  color: #0C1A30;
  margin-left: 4px;
}

.blur {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(54, 105, 201, 0.15);
  opacity: 0;
  z-index: -1;
  transition: .2s;
}

.viewWrapper > .container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}



.dropdownMenu .hiddenContent {
  height: 0;
  position: relative;
  overflow: hidden;
  margin-top: 0;
  transition: .2s;
}

.dropdownMenu .hiddenContent .menuWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  @include adaptive("xsm") {
    align-items: flex-start;
    margin-left: 12px;
  }
}

.dropdownMenu .hiddenContent ul {
  margin-top: -20px;
}

.dropdownMenu .hiddenContent ul li {
  font-weight: normal;
  font-size: 12px;
  color: #0C1A30;
  margin-top: 20px;
  padding: 0;
}

.dropdownMenu.active .hiddenContent {
  height: auto;
  margin-top: 15px;
}

.dropdownMenu.active {
  background: white;
}

.dropdownMenu.active .icon svg {
  fill: white !important;
}

.dropdownMenu.active .icon {
  background: #3669C9;
}

.dropdownMenu.active .title {
  color: #2D3748;
}

.dropdownMenu.active .content .arrow {
  transform: rotate(-90deg);
}

.modal {
  position: fixed;
  background: white;
  border-radius: 10px;
  z-index: 1000;
  display: none;
  padding: 25px;
}

.modal.visible {
  display: block;

 & + .viewWrapper {
    overflow: hidden;
  }

 & + .viewWrapper .blur {
    opacity: 1;
    z-index: 200;

  }
}

.cookieModal {
  padding: 0;
  right: 30px;
  bottom: 30px;
  width: 632px;
  @include adaptive("xsm") {
    width: 90%;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
  }
}


.cookieModal .header {
  border-bottom: 1px solid #EDEDED;
}

.cookieModal .header .headerWrapper {
  padding: 25px 30px 20px 25px;
}

.cookieModal .header h5 {
  font-weight: bold;
  font-size: 15px;
  color: #0C1A30;
}

.cookieModal .sections {
  padding: 38px 25px;
  display: flex;
  justify-content: space-between;
  margin-left: -30px;
  @include adaptive("xxsm") {
    width: 100%;
    margin-left: 0;
    margin-top: -35px;
    flex-direction: column;
    justify-content: center;
  }

  .buttons {
    display: none;
    margin-top: 30px;
    margin-left: -15px;

    .customButton {
      width: calc(100% / 2 - 15px);
      border-radius: 10px;
      text-align: center;
      margin-left: 15px;
    }

    @include adaptive("xxsm") {
      display: flex;
    }
  }
}

.cookieModal .sections section {
  width: calc(100% / 2 - 30px);
  margin-left: 30px;
  @include adaptive("xxsm") {
    margin-left: 0;
    width: 100%;
    margin-top: 35px;
  }
}

.viewWrapper.blured {
  overflow: hidden;
}

.viewWrapper.blured .blur {
  opacity: 1;
  z-index: 200;

}

.cookieModal .sections section h6 {
  font-weight: 500;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.85);
}

.cookieModal .sections section p {
  font-weight: normal;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.85);
  margin-top: 10px;
}

.cookieModal .sections section .customButton {
  margin-top: 30px;
  @include adaptive("xxsm") {
    display: none;
  }
}

.cookieModal .sections section:nth-of-type(1) .customButton {
  background: white;
  color: black;
  border: 1px solid black;
}


.questions {
  @include adaptive("xxsm") {
    padding: 0 25px;
  }
}

.questions .question .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include adaptive("xxsm"){
    align-items: flex-end;
  }
}

.questions .question .content .info {
  display: flex;
  align-items: center;
  @include adaptive("xxsm"){
    flex-direction: column;
    align-items: flex-start;
  }
}

.questionsWrapper {
  padding: 5px 25px 25px 25px;
  border-radius: 15px;
  background: white;
}

.questions .question {
  padding-bottom: 20px;
  cursor: pointer;
  margin-top: 20px;
  border-bottom: 1px solid #EDEDED;
  transition: .2s;
  &:hover {
    border-bottom: 1px solid black;

  }
}

.questions .question button {
  padding: 9px;
  background: #F3F5F6;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s
}

.questions .question button svg {
  fill: #06070C;
  transition: .2s
}

.questions .dropdownMenu.active button {
  transform: rotate(45deg);
  background: #000;
}

.questions .dropdownMenu.active svg {
  fill: white !important;
}


.questions .question .hiddenContent .menuWrapper {
  padding: 0 42px;
  margin-left: 0;
  p {
    font-size: 12px;
  }
  @include adaptive("xxsm"){
    padding: 0;
  }
}

.questions .question .content .text {
  font-weight: 500;
  font-size: 14px;
  margin-left: 16px;
  @include adaptive("xxsm"){
    margin-left: 0;
    margin-top: 20px;
  }
}


.questions .question .content .info .number {
  font-weight: bold;
  font-size: 24px;
  color: rgba(60, 60, 67, 0.5);
}

.questions .customButton {
  margin-top: 40px;
}

.filters {
  display: none;
  margin-top: 30px;
  @include adaptive("xsm") {
    display: block;
  }

}

.filterModal {
  max-width: 325px;
  width: 100%;
  @include adaptive("xsm") {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @include adaptive("xxsm") {
    bottom: 35px;
    top: auto;
    transform: translate(-50%, 0);
  }
  transition: .2s;
}


.filterModal .block {
  margin-top: 0;
}

.filterModal .block .controls {
  transform: rotate(45deg);
  width: 13px;
  height: 13px;
}

.filterModal .filterTypeSelect {
  margin-left: -20px;
  padding-bottom: 13px;
  border-bottom: 1px solid #EDEDED;
  position: relative;
}

.filterModal .filterTypeSelect span {
  font-weight: normal;
  font-size: 14px;
  color: #0C1A30;
  margin-left: 20px;
}

.filterModal .filterTypeSelect .selectSlider {
  content: "";
  position: absolute;
  bottom: 0;
  width: 39px;
  height: 2px;
  background: #3669C9;
  transition: .2s;
}

.filterModal .filterOptions {
  margin-top: 30px;
}

.filterModal .filterOptions input {
  display: none;
}

.filterModal .filterOptions > .option {
  width: 100%;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #EDEDED;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filterModal .filterOptions > .option:last-child {
  border-bottom: 0;
}

.filterModal .filterOptions > .option p {
  font-weight: 500;
  font-size: 14px;
  color: #0C1A30;
}

.filterModal .filterOptions > .option .indicator {
  width: 20px;
  height: 20px;
  background: #3A9B7A;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: .1s;

}

.filterModal .filterOptions input:checked + .option {
  color: red !important;

  .indicator {
    opacity: 1;
  }
}

.filterModal .buttons {
  display: flex;
  margin-left: -15px;
  margin-top: 10px;
}

.filterModal .buttons button {
  width: calc(100% / 2 - 15px);
  margin-left: 15px;
}

.specialistsSlider .cards {
  margin-left: -15px;
}

.specialistsSlider .slick-list {
  overflow: hidden;
}

.specialistsSlider .slick-arrow {
  display: block;
  position: static;
  margin: 0;
  padding: 0;
  top: 0;
  font-size: 0;
  left: 0;
  transform: translate(0, 0);
  @include adaptive("xxsm") {
    display: none;
  }
}


.specialistsSlider .slick-prev {
  order: 2;
}

.specialistsSlider .slick-next {
  order: 3;
}


.specialistsSlider .slick-prev:before {
  content: "";
  display: block;
  width: 6px;
  height: 12px;
  background: url("../assets/icons/SliderPrev.svg") center/contain no-repeat;
  margin-left: 15px;

}

.specialistsSlider .slick-next:before {
  content: "";
  display: block;
  width: 6px;
  height: 12px;
  background: url("../assets/icons/SliderNext.svg") center/contain no-repeat;
  margin-left: 15px;
}

.commentModal {
  padding: 60px 50px 55px 50px;
  max-width: 425px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include adaptive("xxsm"){
    width: 100%;
    height: 100vh;
    padding: 0;
    justify-content: center;
    align-items: center;
    &.visible {
      display: flex;
    }
  }

  .controls {
    position: absolute;
    cursor: pointer;
    right: 25px;
    top:25px;
    img {
      transform: rotate(45deg);
    }
    @include adaptive("xxsm"){
      left: 25px;
    }
  }

  h5 {
    font-weight: 700;
    font-size: 25px;
    color: #0C1A30;
    margin-bottom: 35px;
  }

  .customButton {
    margin-top: 20px;
  }

}

.inputWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  span {
    font-weight: 400;
    font-size: 14px;
    color: #0C1A30;
    margin-bottom: 20px;
  }

  input, textarea{
    background: #FAFAFA;
    padding: 16px 20px;
    border-radius: 12px;
    &::placeholder {
      color: #C4C5C4;
    }
  }

  textarea {
    resize: none;
    height: 130px;
  }
}


.emptyWindow {
  flex-direction: column;
  align-items: center;
}

.emptyWindow p {
  text-align: center;
  margin-top: 25px;
}

.emptyWindow p:nth-of-type(1){
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
  color: #000000;
}

.emptyWindow p:nth-of-type(2){
  font-weight: normal;
  font-size: 14px;
  color: #838589;
  margin-top: 20px;
}

.successModal {
  max-width: 325px;
  height: auto;
  padding: 45px 25px 25px 25px;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  .emptyWindow {
    display: flex;
    flex-direction: column;
    align-items: center;
    .icon {
      width: 50px;
      height: 50px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .customButton {
    margin-top: 45px;
  }
}

.table {
  background: white;
  padding: 28px 20px;
  border-radius: 15px;
  position: relative;
  @include adaptive("xxsm") {
    border-bottom: 1px solid #EDEDED;
    padding-right: 0;
  }

  .controls .info {
    display: flex;
    &::-webkit-scrollbar {
      display: none;
    }

    @include adaptive("xxsm") {
      margin-top: 10px;
      margin-left: -18px;
      max-width: 100vw;
      padding: 0 20px;
      overflow: scroll;
    }

    .infoItem {
      display: flex;
      align-items: center;
      margin-left: 18px;
      span {
        display: block;
        font-weight: 500;
        font-size: 12px;
        color: #0C1A30;
        margin-left: 10px;
        white-space: nowrap;
      }

      .indicator {
        width: 5px;
        height: 14px;
        border-radius: 5px;

      }

      &:first-child {
        @include adaptive("xxsm") {
          margin-left: 0;
        }
      }

      &:nth-child(1) .indicator {
        background: #7DC579;
      }

      &:nth-child(2) .indicator {
        background: #6360FF;

      }

      &:nth-child(3) .indicator {
        background: #9B81E5;

      }

      &:nth-child(4) .indicator {
        background: #F1F1FA;

      }

    }
  }

  @include adaptive("xsm") {
    border-radius: 0;
  }

  .header {
    @include adaptive("xxsm") {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.types {
  margin-top: 20px;
  margin-left: -10px;
  display: flex;
  flex-wrap: wrap;
  .type {
    input {
      display: none;
    }
    margin-top: 20px;

    .content {

      cursor: pointer;
      padding: 5px 20px;
      border-radius: 10px;
      border: 1px solid #EDEDED;
      font-weight: 500;
      font-size: 14px;
      transition:.2s;
      margin-left: 10px;
    }
    input:checked + .content {
      color:#3669C9;
      background: #EFF5FB;
    }
  }
}

.comments.block {
  background: white;
  padding: 28px 20px;
  border-radius: 15px;
  @include adaptive("xxsm") {
    padding: 0;
  }

  .buttons {
    margin-top: 30px;
    display: flex;
    margin-left: -20px;
    @include adaptive("xxsm") {
      flex-direction: column;
      margin-top: 20px;
      margin-left: 0;
    }

    button {
      margin-left: 20px;
      @include adaptive("xxsm") {
        margin-top: 12px;
        margin-left: 0;
      }
    }
  }

  .commentsWrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-top: -20px;
    @include adaptive("xsm") {
      flex-direction: column;
      margin-left: 0;
    }

    .comment {
      width: calc(100% / 2 - 20px);
      height: 135px;
      margin-left: 20px;
      margin-top: 20px;
      background: #F8F9FA;
      border-radius: 12px;
      padding: 22px;
      display: flex;
      @include adaptive("xsm") {
        width: 100%;
        margin-left: 0;
      }
      @include adaptive("xxsm") {
        padding: 0;
        width: 100%;
        background: white;
      }

      .content {
        margin-left: 16px;

        .stars {
          margin-top: 5px;
          margin-bottom: 12px;
          display: flex;
          margin-left: -7px;

          .star {
            margin-left: 7px;
          }
        }

        .header {
          display: flex;
          margin-bottom: 0;
          justify-content: space-between;

          h6 {
            font-weight: 500;
            font-size: 14px;
            color: #0C1A30;
          }

          span {
            font-weight: normal;
            font-size: 12px;
            color: #A0AEC0;
          }
        }

        p {
          font-weight: normal;
          font-size: 12px;
          color: #718096;
        }
      }

      .icon {
        flex-shrink: 0;
        border: 1px solid #A0AEC0;
        width: 40px;
        height: 40px;
        border-radius: 50%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
