.table.block {
  margin-top: 0 !important;
  #table {
    margin-top: 0;
  }
  .tableContainer {
    height: auto ;
    overflow: auto;
  }
  .inputWrapper {
    margin-top: 30px;
    padding: 25px;
  }

  @media screen and (max-width: 416px){
    .inputWrapper {
      padding: 25px;
    }
  }
}